body {
    background-color: #282c34;
    color: white;
  }
  .h1baslik {
      margin-bottom: 540px;
      margin-left: 475px;
  }
.hakkimda {
    margin-top: 200px;
    margin-left: 475px;
}
.languagestools {
    margin-left: 475px;
}
.divaccounts{
    margin-left: 475px;
}